* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.range__wrapper {
    height: 65px;
    width: 270px;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.range-content {
    width: 266px;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    position: relative;
}
.slider-range {
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
    position: absolute;
    top: -1px;
    left: 25%;
    right: 25%;

}
.range__score {
    display: flex;
    color: #9b9b9b;
    align-items: center;
}

.range__input {
    position: relative;
}
.range__score {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
}
.range__input input {
    position: absolute;
    top: -14px;
    height: 5px;
    left: -2px;
    width: 100%;
    appearance: none;
    background: none;
    pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    appearance: none;
    pointer-events: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 3px solid #fff;
}

.coin {
    color: #9b9b9b;
}
.score__svg {
    height: 11px;
}
.score__svg img {
    align-self: flex-start;
}

.range-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}